body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: url('assets/bg.jpg');
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100% auto;
    /* Ajuste do fundo */
}


/* botão som */

.audio-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    width: 60px;
    height: 60px;
}

.audio-button img {
    width: 100%;
    height: auto;
}

.parallax-container {
    position: relative;
    height: calc(400vh + (20vh * número de grupos));
    /* Altura para garantir espaço suficiente para o scroll */
    overflow: hidden;
    width: 100%;
    /* Garantir que o container ocupa toda a largura */
}

.parallax-group-title {
    overflow: visible;
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: 2%;
}

.parallax-group {
    overflow: visible;
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 90%;
    object-fit: cover;
    will-change: transform;
    transition: transform 0.1s linear;
}

.layerA {
    z-index: 1;
    mix-blend-mode: multiply;
    /* Fundo */
}

.layerB {
    z-index: 2;
    /* Intermediário */
}

.layerC {
    z-index: 3;
    /* Frente (sobreposta às outras) */
}

.scroll-arrow {
    position: absolute;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.scroll-arrow:hover {
    transform: scale(1.2);
}


/* adicionar opacidade de forma gradual também */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Página de loading */

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Assegura que o carregamento fique acima do conteúdo */
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}


/* Animação de rotação */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* O conteúdo principal começa invisível */

#content {
    display: none;
}

#scroll-top {
    position: fixed;
    right: 25px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
    width: 52px;
    height: 52px;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    border-radius: 50%;
    display: block;
    transition: opacity 0.3s ease;
}

#scroll-top {
    top: 90px;
}